
.card{
    margin:10px;
    width: 250px;
    height: 275px;
}
.card-body h5{
    color: black;
    font-size: 15px;
}
.card-body p{
    color: black;
    font-size: 18px;
}

.image-container {
    height: 150px;
    width: 100%;
    background-color: white;
    border-bottom:solid 2px rgb(52, 45, 148) ;
}
.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}
.category{
    color: rgb(90, 58, 218);
    border: solid 1px black;
    border-radius: 15px;
    padding: 0px 10px;
   font-size: 18px;
}
@media (min-width: 768px) {
    .custom-col {
      width: 20%; /* 100% / 5 items = 20% */
      flex: 0 0 auto;
    }
  }