{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
            <div class="logo">
                <img src="https://t3.ftcdn.net/jpg/04/10/65/20/360_F_410652028_C6ngQ3z8lQvdAGg2ft4Vf0n8O3b8u3aw.jpg" alt="Logo" style="height: 40px; width: 125px">
            </div>
            <ul class="nav-link">
                <li><a href="{% url 'ecommerce' %}">Home</a></li>
                <li><a href="#">Product</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropbtn">Welcome! {{ user.username }}</a>
                    <div class="dropdown-content">
                        <a href="#">My Account</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'accounts:login_view' %}">Login</a></li>
                {% endif %}
                <li style="margin-right: 25px;"><a href="{% url 'cart' %}"><i class="bi bi-cart-fill"></i></a></li>  
            </ul>
        </nav>
        <div class="content">   
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer text-center">
            <hr style="margin: 0; padding: 0;">
            <p style="background-color: white; margin: 0; padding: 0;">&copy; 2025 Sam E-commerce Site. All rights reserved.</p>
        </footer>
    </div>
    {% block footer %}
    {% endblock %}
    
</body>
</html>
