* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 217, 217);
    padding: 10px 100px;
}

a {
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

/* Ensure the page takes full height */
html, body {
    margin: 0;
    padding: 0;
}

.wrapper {

    display: flex;
    flex-direction: column;
}

