
.card{
    
}
.card:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    
}

@media (min-width: 768px) {
    .custom-col {
      width: 20%; /* 100% / 5 items = 20% */
      flex: 0 0 auto;
    }
  }
  