.products{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

}
.products_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
section{
    background-color: #F3F4F6;
}
.col-lg-4{
    background-color: white;
    position: sticky;
    top: 10px; 
    height: fit-content;
}
.col-lg-6{
    background-color: white;
}
.bi-tag-fill{
    color: green;
}
.hidden {
    display: none;
}   
.show-more {
    color: blue;
    cursor: pointer;
}
.box_product_size{
    display: inline;
    border: solid 2px #86898f;
    background-color: white;
    padding: 5px;
    margin-right: 20px;
}