{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="container">
        <div class="logo-box">
            <h1 class="logo-title" style="color: orange;">Logo Here</h1>
            <p class="welcome-text">Welcome back</p>
            <h2 class="signin-title">Sign In</h2>

            <form action="" method="" class="login-form">
                
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter username" required>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>

                    <button type="submit" class="auth-button">Log In &rarr;</button>
    
                
                <div class="signup">
                    <p>Don't have an account?</p>
                    <a href="{% url 'accounts:register' %} " target="_self">Sign up</a>
                </div>
            </form>
        </div>

        <div class="auth-image">
            <img class="login-logo" src="{% static 'images/logo_shopping-removebg.png' %}" alt="Logo">
        </div>
    </div>

</body>
</html>
