{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% if cart_items %}
        <div class="row">
            {% for item in cart_items %}
                <div class="col-lg-6 col-md-8 col-sm-12 mb-3">
                    <div class="card p-3 ">
                        <img src="{{ item.product.product_image.url }}" alt="{{ item.product.product_name }}" class="img-fluid" width="150" height="150">
                        <h5>{{ item.product.product_name }}</h5>
                        <h5>Price: {{ item.product.product_price }}</h5>
                        <p>Quantity: {{ item.quantity }}</p>
                        <a href="" class="btn btn-primary mb-3">Buy Now</a>
                        <a href="{% url 'remove_cart' item.id %}" class="btn btn-danger">Remove Item</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}

{% block footer %}{% endblock %}
